@font-face {
    font-family: 'LEMONMILK-Regular';
    src: url('fonts/LEMONMILK-Regular.otf');
}

h1 {
color: black; 
font-family: "LEMONMILK-Regular"    
}

body{
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    height: 100%;
}

.bande{
    position: absolute;
    background-color: yellow;
    height: auto;
    left: 0px;
    width: 350px;
}



